$bodyText: #565656;

$navigation: #ccc;

$border: #eee;

$darkBlack: #999;

$gray: #787878;
$lightGray: #cecece;
$lighterGray: #efefef;

$blue: #4598bb;

$white: #fff;

$warningRed: #fbc2c4;
$borderRed: #f6e7eb;